# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
dist/

# Environments
venv/

# Linter / type checker
.mypy_cache/
.ruff_cache/

# Tests
.coverage
.pytest_cache/
.tox/
